<h2 class="title">{{ title }}</h2>

<div class="row hex-to-uicolor">
    <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10">

        <div class="col-sm-12 col-xs-12 col-md-6 form-group" ng-class="{false:'has-warning'}[hexValid]">
            <div class="input-group">
                <div class="input-group-addon">HEX #</div>
                <input
                    class="form-control input-lg"
                    type="text"
                    placeholder="eg. 0072BC"
                    maxlength="7"
                    ng-class="{false:'has-warning'}[hexValid]"
                    ng-model="hex">
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 form-group" ng-class="{false:'has-error'}[alphaValid]">
            <div class="input-group">
                <div class="input-group-addon">Alpha</div>
                <input
                    class="form-control input-lg"
                    type="text"
                    placeholder="1.0"
                    maxlength="3"
                    ng-class="{false:'has-warning'}[alphaValid]"
                    ng-model="alphaInput"
                    ng-change="alphaChanged(alphaInput)">
            </div>
        </div>

        <div class="hidden-xs hidden-sm col-md-2 form-group text-right">
            <button class="btn btn-block btn-lg btn-primary" colorpicker="hex" type="button" colorpicker-position="bottom" ng-model="hex"><i class="fa fa-eyedropper"></i></button>
        </div>

        <div class="col-md-12 col-lg-12 form-group color-demo" ng-show="hexValid && hex.length">
            <svg width="100%" height="45" preserveAspectRatio="xMaxYMin meet">
                <rect width="100%" height="100%" rx="5" ry="5" style="stroke-width:0;" ng-style="{'fill': style.bgColor}" />
            </svg>
        </div>

        <div class="col-xs-12" ng-show="hex.length">
            <div ng-show="!hexValid" class="alert alert-warning" role="alert">HEX not valid</div>

            <!-- Objective C -->
            <div ng-show="hexValid" class="code-block">
                <span>[UIColor colorWithRed:{{uiColor.r}} green:{{uiColor.g}} blue:{{uiColor.b}} alpha:{{alpha}}];</span>
                <button type="button" class="btn btn-default hidden-xs hidden-sm" clip-copy="copyObjectiveC"><i class="fa fa-files-o"></i></button>
                <h3 class="language">Objective-C</h3>
            </div>

            <!-- Swift -->
            <div ng-show="hexValid" class="code-block">
                <span>UIColor(red:{{uiColor.r}}, green:{{uiColor.g}}, blue:{{uiColor.b}}, alpha:{{alpha}})</span>
                <button type="button" class="btn btn-default hidden-xs hidden-sm" clip-copy="copySwift"><i class="fa fa-files-o"></i></button>
                <h3 class="language">Swift</h3>
            </div>

        </div>

    </div>
</div>