<h3>{{ title }}</h3>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-offset-2 col-lg-8">

        <div class="col-sm-12 col-xs-12 col-md-8 form-group" ng-class="{false:'has-warning'}[hexValid]">
            <label for="hex" ng-class="{false:'has-warning'}[hexValid]">HEX Color</label>
            <input
                id="hex"
                class="form-control input-lg"
                type="text"
                placeholder="HEX"
                ng-class="{false:'has-warning'}[hexValid]"
                ng-model="hex"
                ng-change="hexToRgb(hex)">
        </div>

        <div class="col-sm-12 col-xs-12 col-md-2 form-group" ng-class="{false:'has-warning'}[alphaValid]">
            <label for="alpha" ng-class="{false:'has-warning'}[alphaValid]">Alpha</label>
            <input
                id="alpha"
                class="form-control input-lg"
                type="text"
                placeholder="1.0"
                ng-class="{false:'has-warning'}[alphaValid]"
                ng-model="alpha">
        </div>

        <div class="col-sm-12 col-xs-12 col-md-2 form-group" ng-show="hexValid && hex.length">
            <label>Color</label>

            <svg width="100%" height="45" preserveAspectRatio="xMaxYMin meet">
                <rect width="100%" height="100%" rx="5" ry="5" style="stroke-width:0;" ng-style="{'fill': style.bgColor}" />
            </svg>

        </div>

        <hr ng-if="hex.length">

        <div class="col-xs-12" ng-show="hex.length">
            <h3 ng-show="hex.length">Objective-C</h3>
            <h4 ng-show="hexValid">[UIColor colorWithRed:{{uiColor.r}} green:{{uiColor.g}} blue:{{uiColor.b}} alpha:1.0];</h4>
            <div ng-show="!hexValid" class="alert alert-warning" role="alert">HEX not valid</div>

            <h3 ng-show="hex.length">Swift</h3>
            <h4 ng-show="hexValid">UIColor(red:{{uiColor.r}}, green:{{uiColor.g}}, blue:{{uiColor.b}}, alpha:1.0)</h4>
            <div ng-show="!hexValid" class="alert alert-warning" role="alert">HEX not valid</div>
        </div>

    </div>
</div>