@media all and (max-width : 767px) {

    body {
    }

    .hex-to-uicolor {
        .input-group-addon {
            min-width: 60px;
        }
    }

    .navbar {
        .navbar-logo {
            padding: 0;
            // float: none;

            .logo {
                max-height: 120px;
                margin: 0 auto !important;
                // padding: 150px;
            }
        }
    }

    .footer {
        padding: 10px 0;
    }

}
