@import "../lib/bootstrap/less/bootstrap.less";

body {

}

a {
    /*color: ;*/
    -webkit-transition:all .8s;
    -moz-transition:all .8s;
    transition:all .8s;
}

a:hover {
    /*color: ;*/
    text-decoration: none;
}

/*
*  HEX to UIColor Page
*/

.hex-to-uicolor {
    margin: 30px 0;

    .color-demo {
        margin-top: 20px;
        margin-bottom: 15px;

        svg {
            margin: 10px 0 5px 0;
        }
    }

}

/* Custom page footer */
.footer {
    padding: 25px 0;
}

/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    body {
        padding: 0;
    }

    .footer {
        padding: 10px 0;
    }

}
